* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: red;
}

.wrapper {
  width: 50%;
  height: 50%;
  background: black;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  width: 35%;
  height: 40%;
  background: white;
}
